.tela_login {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/backgound.png");
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
}

.tela_login_direita_titulo {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 130%;
  color: #343447;
  margin-bottom: 3rem;
  text-align: center;
  margin-top: 3rem;
  width: 100%;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%;
  font-size: 1.6rem;
}

.form_input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input_login {
  border: 1.5px solid #d0d5dd;
  box-shadow: 2px 2px 3px 1px rgba(228, 231, 237, 0.9);
  border-radius: 8px;
  padding: 1rem 1.4rem;
}

.email_login {
  margin-bottom: 1.5rem;
}

.form_label_login {
  font-family: Nunito;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 20px;
  color: #344054;
  margin-bottom: 0.6rem;
}

.tela_login_direita_div_botao {
  margin-top: 2.6rem;
  width: 100%;
}

.tela_login_direita {
  padding: 20px 40px;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin-left: 400px;
  z-index: 1;
  background-color: white;
  width: 500px;
}

@media only screen and (max-width: 390px) {
  .input_login {
    font-size: 1rem;
  }
  .tela_login_direita_titulo {
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .form_label_login {
    font-size: 1rem;
    margin-bottom: 0.4rem;
  }
  .tela_login {
    background-color: rgb(247, 201, 208);
  }
  .tela_login_direita {
    margin-top: 18rem;
    margin-right: 25rem;
    height: 400px;
    padding: 10px 20px;
  }
}

@media (min-width: 391px) and (max-width: 768px) {
  .tela_login_direita_titulo {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .form_label_login {
    font-size: 0.8rem;
    margin-bottom: 0rem;
  }
  .tela_login {
    background-color: rgb(247, 201, 208);
  }
  .tela_login_direita {
    margin-top: 17rem;
    margin-right: 25rem;
    min-width: 300px;
    padding: 10px 20px;
    height: 400px;
  }
  .tela_login_direita_div_botao {
    margin-top: 2rem;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .tela_login_direita_titulo {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .form_label_login {
    font-size: 0.8rem;
    margin-bottom: 0rem;
  }
  .tela_login {
    background-color: rgb(247, 201, 208);
    background-size: auto;
  }
  .tela_login_direita {
    margin-top: 17rem;
    margin-right: 5rem;
    min-width: 400px;
    padding: 10px 25px;
    height: 400px;
  }
  .tela_login_direita_div_botao {
    margin-top: 2rem;
  }
}

@media (min-width: 1024px) {
  .tela_login {
    background-size: cover;
  }
  .tela_login_direita {
    min-width: 700px;
    height: 500px;
  }
}
