.card {
  display: flex;
  background-color: white;
  border-radius: 10px;
  padding: 3px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 2px;
  right: 9%;
  z-index: 4;
}
b {
  color: black;
}
.column {
  margin-right: 10px;
}
.logout {
  width: 45px;
  height: 45px;
  cursor: pointer;
}
