.tela_login_direita_botao_login {
  font-family: Nunito;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #f8f8f9;
  border-radius: 10px;
  background-color: #ea1d2c;
  padding: 6px 55px;
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.botao {
  border: none;
  cursor: pointer;
}
