.main_app {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F8F8F9;
  flex-direction: column;
}

.main_app_section_pedidos_listagem {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 15px;
}

.pedido {
  background-color: blanchedalmond;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  cursor: pointer;
}

.pedido > span:nth-child(1) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}