.main_app {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e2e2;
  flex-direction: column;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_app_section_pedidos_listagem {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.pedido {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  width: 600px;
  height: auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  padding: 15px;
}

.pedido > span:nth-child(1) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.verPedidosButton {
  background: #ea1d2c;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  font-family: "Poppins", "sans-serif";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  color: white;
  width: 470px;
  height: 68px;
  margin-top: 25px;
  margin-bottom: 25px;
}

header {
  background: #ea1d2c;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  padding-top: 10px;
}

.dataPedido {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 30px;
  margin-right: 100px;
}

.statusPedido {
  background: #ea1d2c;
  border-radius: 60px;
  color: #ffffff;
  padding: 10px;
}
