.tela_login_direita_botao_login {
  font-family: Nunito;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #F8F8F9;
  border-radius: 10px;
  background-color: #DA0175;
  padding: 6px 55px;
  width: 100%;
}

.botao {
  border: none;
  cursor: pointer;
}