.modal_iniciarTracking {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(145, 154, 150, 0.3);
  backdrop-filter: blur(4px);
  z-index: 2;
}

.modal_iniciarTracking_conteudo {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 30px;
  text-align: justify;
  padding: 20px 50px;
  gap: 50px;
}

.modal_iniciarTracking_botoes {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
