@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Nunito:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;700&family=Nunito:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/**/

.tela_login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F8F8F9;
}


.tela_login_direita_titulo {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 130%;
  color: #343447;
  margin-bottom: 5.8rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 344px;
  font-size: 1.6rem;
}

.form_input {
  display: flex;
  flex-direction: column;
}

.input_login {
  border: 1.5px solid #D0D5DD; 
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 1rem 1.4rem;
}

.email_login {
  margin-bottom: 2rem;
}

.form_label_login {
  font-family: Nunito;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 20px;
  color: #344054;
  margin-bottom: 0.6rem;
}


.tela_login_direita_div_botao {
  margin-top: 4.6rem;
}
